@import url('https://fonts.googleapis.com/css?family=Asap:400,400i%7CRaleway:600,700,800');
html {
	 box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
@media (prefers-reduced-motion: no-preference) {
	:root {
		scroll-behavior: smooth;
	}
}
:root {
	--bs-blue: #0d6efd;
	--bs-indigo: #6610f2;
	--bs-purple: #6f42c1;
	--bs-pink: #d63384;
	--bs-red: #dc3545;
	--bs-orange: #fd7e14;
	--bs-yellow: #ffc107;
	--bs-green: #198754;
	--bs-teal: #20c997;
	--bs-cyan: #0dcaf0;
	--bs-black: #000;
	--bs-white: #fff;
	--bs-gray: #6c757d;
	--bs-gray-dark: #343a40;
	--bs-gray-100: #f8f9fa;
	--bs-gray-200: #e9ecef;
	--bs-gray-300: #dee2e6;
	--bs-gray-400: #ced4da;
	--bs-gray-500: #adb5bd;
	--bs-gray-600: #6c757d;
	--bs-gray-700: #495057;
	--bs-gray-800: #343a40;
	--bs-gray-900: #212529;
	--bs-primary: #d1b000;
	--bs-secondary: #2C2C33;
	--bs-success: #198754;
	--bs-info: #0dcaf0;
	--bs-warning: #ffc107;
	--bs-danger: #dc3545;
	--bs-light: #f8f9fa;
	--bs-dark: #121217;
	--bs-primary-rgb: 209, 176, 0;
	--bs-secondary-rgb: 44, 44, 51;
	--bs-success-rgb: 25, 135, 84;
	--bs-info-rgb: 13, 202, 240;
	--bs-warning-rgb: 255, 193, 7;
	--bs-danger-rgb: 220, 53, 69;
	--bs-light-rgb: 248, 249, 250;
	--bs-dark-rgb: 18, 18, 23;
	--bs-white-rgb: 255, 255, 255;
	--bs-black-rgb: 0, 0, 0;
	--bs-body-color-rgb: 33, 37, 41;
	--bs-body-bg-rgb: 255, 255, 255;
	--bs-font-sans-serif: "Asap", sans-serif;
	--bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	--bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
	--bs-body-font-family: var(--bs-font-sans-serif);
	--bs-body-font-size: 1rem;
	--bs-body-font-weight: 400;
	--bs-body-line-height: 1.5;
	--bs-body-color: #212529;
	--bs-body-bg: #fff;
	--bs-border-width: 1px;
	--bs-border-style: solid;
	--bs-border-color: #dee2e6;
	--bs-border-color-translucent: rgba(0, 0, 0, 0.175);
	--bs-border-radius: 0.375rem;
	--bs-border-radius-sm: 0.25rem;
	--bs-border-radius-lg: 0.5rem;
	--bs-border-radius-xl: 1rem;
	--bs-border-radius-2xl: 2rem;
	--bs-border-radius-pill: 50rem;
	--bs-heading-color:;
	--bs-link-color: #20304f;
	--bs-link-hover-color: #dc3545;
	--bs-code-color: #d63384;
	--bs-highlight-bg: #fff3cd;
}

body {
	background: #161616;
	color: #fff;
	--framer-aspect-ratio-supported: auto;
	font-family: var(--bs-body-font-family);
	font-size: var(--bs-body-font-size);
	font-weight: var(--bs-body-font-weight);
	line-height: var(--bs-body-line-height);
	/*color: var(--bs-body-color);*/
	text-align: var(--bs-body-text-align);
	/*background-color: var(--bs-body-bg);*/
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

hr {
	margin: 1rem 0;
	color: inherit;
	border: 0;
	border-top: 1px solid;
	opacity: 0.25;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-family: var(--bs-heading-font-family);
	font-weight: 500;
	line-height: 1.2;
	color: var(--bs-heading-color);
}

h1, .h1 {
	font-size: calc(1.375rem + 1.5vw);
	text-transform: uppercase;
}

@media (min-width: 1200px) {
	h1, .h1 {
		font-size: 2rem;
	}
}

h2, .h2 {
	font-size: calc(1.325rem + 0.9vw);
	text-transform: uppercase;
}

@media (min-width: 1200px) {
	h2, .h2 {
		font-size: 1.7rem;
	}
}

h3, .h3 {
	font-size: calc(1.3rem + 0.6vw);
	text-transform: uppercase;
}

@media (min-width: 1200px) {
	h3, .h3 {
		font-size: 1.5rem;
	}
}

h4, .h4 {
	font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
	h4, .h4 {
		font-size: 1.25rem;
	}
}

h5, .h5 {
	font-size: 0.75rem;
}

h6, .h6 {
	font-size: 1rem;
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
}

.display-1 {
	font-size: calc(1.625rem + 4.5vw);
	font-weight: 300;
	line-height: 1.2;
}

@media (min-width: 1200px) {
	.display-1 {
		font-size: 5rem;
	}
}

.display-2 {
	font-size: calc(1.575rem + 3.9vw);
	font-weight: 300;
	line-height: 1.2;
}

@media (min-width: 1200px) {
	.display-2 {
		font-size: 4.5rem;
	}
}

.display-3 {
	font-size: calc(1.525rem + 3.3vw);
	font-weight: 300;
	line-height: 1.2;
}

@media (min-width: 1200px) {
	.display-3 {
		font-size: 4rem;
	}
}

.display-4 {
	font-size: calc(1.475rem + 2.7vw);
	font-weight: 300;
	line-height: 1.2;
}

@media (min-width: 1200px) {
	.display-4 {
		font-size: 3.5rem;
	}
}

.display-5 {
	font-size: calc(1.425rem + 2.1vw);
	font-weight: 300;
	line-height: 1.2;
}

@media (min-width: 1200px) {
	.display-5 {
		font-size: 3rem;
	}
}

.display-6 {
	font-size: calc(1.375rem + 1.5vw);
	font-weight: 300;
	line-height: 1.2;
}

@media (min-width: 1200px) {
	.display-6 {
		font-size: 2.5rem;
	}
}

/* Menu */

 a {
	 color: #fff;
	 text-decoration: none;
}
.open {
	position: fixed;
	top: 40px;
	right: 40px;
	width: 50px;
	height: 50px;
	display: block;
	cursor: pointer;
	transition: opacity 0.2s linear;
	z-index: 9999;
}
 .open:hover {
	 opacity: 0.8;
}
 .open span {
	 display: block;
	 float: left;
	 clear: both;
	 height: 4px;
	 width: 40px;
	 border-radius: 40px;
	 background-color: #fff;
	 position: absolute;
	 right: 3px;
	 top: 3px;
	 overflow: hidden;
	 transition: all 0.4s ease;
}
 .open span:nth-child(1) {
	 margin-top: 10px;
	 z-index: 9;
}
 .open span:nth-child(2) {
	 margin-top: 25px;
}
 .open span:nth-child(3) {
	 margin-top: 40px;
}
 .sub-menu {
	 transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	 height: 0;
	 width: 0;
	 right: 0;
	 top: 0;
	 position: absolute;
	 background-color: rgba(38, 84, 133, 0.54);
	 border-radius: 50%;
	 z-index: 18;
	 overflow: hidden;
}
 .sub-menu li {
	 display: block;
	 float: right;
	 clear: both;
	 height: auto;
	 margin-right: -160px;
	 transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
 .sub-menu li:first-child {
	 margin-top: 180px;
}
 .sub-menu li:nth-child(1) {
	 -webkit-transition-delay: 0.05s;
}
 .sub-menu li:nth-child(2) {
	 -webkit-transition-delay: 0.1s;
}
 .sub-menu li:nth-child(3) {
	 -webkit-transition-delay: 0.15s;
}
 .sub-menu li:nth-child(4) {
	 -webkit-transition-delay: 0.2s;
}
 .sub-menu li:nth-child(5) {
	 -webkit-transition-delay: 0.25s;
}
 .sub-menu li a {
	 color: #fff;
	 font-family: 'Lato', Arial, Helvetica, sans-serif;
	 font-size: 16px;
	 width: 100%;
	 display: block;
	 float: left;
	 line-height: 40px;
}
 .oppenned .sub-menu {
	 opacity: 1;
	 height: 400px;
	 width: 400px;
}
 .oppenned span:nth-child(2) {
	 overflow: visible;
}
 .oppenned span:nth-child(1), .oppenned span:nth-child(3) {
	 z-index: 100;
	 transform: rotate(45deg);
}
 .oppenned span:nth-child(1) {
	 transform: rotate(45deg) translateY(12px) translateX(12px);
}
 .oppenned span:nth-child(2) {
	 height: 400px;
	 width: 400px;
	 right: -160px;
	 top: -160px;
	 border-radius: 50%;
	 background-color: rgba(38, 84, 133, 0.54);
}
 .oppenned span:nth-child(3) {
	 transform: rotate(-45deg) translateY(-10px) translateX(10px);
}
 .oppenned li {
	 margin-right: 168px;
}
.container {
	 display: flex;
	 max-width: 80%;
	 justify-content: center;
	 margin: 0 auto;
}
.bkg__spotlight {
	position: absolute;
	width: 100vw;
	background: radial-gradient(75% 35% at 50% 95%, rgba(80, 82, 98, 0.6) 20%, rgba(80, 82, 98, 0) 90%), linear-gradient(rgba(28, 35, 50, 0) 0%, rgba(28, 35, 50, 1) 80%);
	z-index: -1;
}
 @keyframes updown {
	 0%, 50%, 100% {
		 transform: translatey(0);
	}
	 20% {
		 transform: translatey(5px);
	}
	 25% {
		 transform: translatey(-20px);
	}
	 30% {
		 transform: translatey(20px);
	}
	 35% {
		 transform: translatey(-5px);
	}
}
 .framer-ye174t {
	align-content: flex-start;
	align-items: flex-start;
	display: flex;
	flex: none;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: 30px;
	height: 539px;
	justify-content: flex-start;
	left: 0;
	max-width: 800px;
	overflow: visible;
	padding: 50px;
	position: absolute;
	top: 103px;
	width: 650px;
}


.framer-1bx8n9a-container {
	aspect-ratio: 3.3714285714285714 / 1;
	flex: none;
	height: var(--framer-aspect-ratio-supported, 39px);
	position: relative;
	width: 24%;
}
@media (min-width: 433px) and (max-width: 809px) {
.framer-ye174t {
	align-content: center;
	align-items: center;
	gap: 20px;
	height: min-content;
	padding: 20px;
	top: 100px;
	width: 100%;
}
}

/*Range style*/
#range-slider__range {
	appearance: none;
	width: calc(100% - (73px));
	height: 10px;
	border-radius: 5px;
	background: #d7dcdf;
	outline: none;
	padding: 0;
	margin: 0;
}

	/*Range black ⚫ thumb*/
	#range-slider__range::-webkit-slider-thumb {
		appearance: none;
		width: 20px;
		height: 20px;
		border-radius: 100%;
		background: #2c3e50;
		cursor: pointer;
		transition: background 0.15s ease-in-out;
	}

		/*On hover change colour of black thumb into green 🟢 and scale size*/
		#range-slider__range::-webkit-slider-thumb:hover {
			transform: scale(1.1);
			background: #1abc9c;
		}

	#range-slider__range:active::-webkit-slider-thumb {
		transform: scale(1.1);
		background: #1abc9c;
	}

/*Range current value*/
#range-slider__value {
	display: inline-block;
	position: relative;
	width: 60px;
	color:#2c3e50 ;
	line-height: 20px;
	text-align: center;
	border-radius: 3px;
	background:#fff ;
	padding: 5px 10px;
	margin-left: 8px;
}

	#range-slider__value:after {
		position: absolute;
		top: 8px;
		left: -7px;
		width: 0;
		height: 0;
		border-top: 7px solid transparent;
		border-right: 7px solid #fff;
		border-bottom: 7px solid transparent;
		content: "";
	}
