@model ContactForm
<div class="screen col-lg-12 mt-4">
    <div class="screen-body-item">

        <h4 class="text-underline pb-3 mb-3">TALK TO AN EXPERT</h4>
        <form class="app-form col-lg-10" method="post" enctype="multipart/form-data" asp-controller="Inquiry" asp-action="Submit">
            <div class="app-form-group">
                <input class="app-form-control" asp-for="Name" aria-required="true" placeholder="NAME">
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
            <div class="app-form-group">
                <input class="app-form-control" asp-for="Email" placeholder="EMAIL">
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
            <div class="app-form-group">
                <input class="app-form-control" placeholder="CONTACT NO (OPTINAL)">
            </div>
            <div class="app-form-group message">
                <input class="app-form-control" asp-for="Message" placeholder="MESSAGE">
            </div>
            <div class="app-form-group buttons">
                <button type="submit" id="submit-contact" class="btn btn-outline-primary text-dark">Send Message</button>
            </div>
        </form>
    </div>
</div>

