<footer id="footer" class="footer-section bg-secondary pt-5 text-white text-opacity-75">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-4 col-12">
                <a href="index.html">
                    <img src="/assets/images/logo/logo.png" alt="Footer logo"
                         class="img-fluid mb-4" width="311" height="48">
                </a>
                <p class="">
                    Experts Accounting & Tax Consultancy is a full business services and consulting firm in the UAE, our roots trace back to 2000 when we opened our doors in Amman Jordan.

                </p>
            </div>
            <div class="col-lg-2 col-6">
                <div class="footer-links">
                    <h6 class="mb-4 fw-semibold text-white">USEFUL LINKS</h6>
                    <ul class="list-unstyled d-grid gap-1">
                        <li>
                            <a href="about-us.html"
                               class="text-decoration-none d-flex gap-2 text-white text-opacity-75">
                                <i class="fa-solid fa-arrow-right-long text-primary"></i>
                                <span>About us</span>
                            </a>
                        </li>
                        <li>
                            <a href="casestudies.html"
                               class="text-decoration-none d-flex gap-2 text-white text-opacity-75">
                                <i class="fa-solid fa-arrow-right-long text-primary"></i>
                                <span>Casestudies</span>
                            </a>
                        </li>
                        <li>
                            <a href="services.html"
                               class="text-decoration-none d-flex gap-2 text-white text-opacity-75">
                                <i class="fa-solid fa-arrow-right-long text-primary"></i>
                                <span>Services</span>
                            </a>
                        </li>
                        <li>
                            <a href="how-we-work.html"
                               class="text-decoration-none d-flex gap-2 text-white text-opacity-75">
                                <i class="fa-solid fa-arrow-right-long text-primary"></i>
                                <span>How we work</span>
                            </a>
                        </li>
                        <li>
                            <a href="our-history.html"
                               class="text-decoration-none d-flex gap-2 text-white text-opacity-75">
                                <i class="fa-solid fa-arrow-right-long text-primary"></i>
                                <span>Our history</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="text-decoration-none d-flex gap-2 text-white text-opacity-75">
                                <i class="fa-solid fa-arrow-right-long text-primary"></i>
                                <span>Drop us a line</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <h6 class="mb-4 fw-semibold text-white">GET IN TOUCH</h6>
                <ul class="list-unstyled ps-0 d-grid gap-2">
                    <li>
                        <a href="#" class="text-decoration-none d-flex gap-2 text-white text-opacity-75">
                            <i class="fa-solid fa-location-dot text-primary"></i>
                            <span>Boulevard Plaza Tower 1 Sheikh Zayed Road | RAK Julphar Tower, DUBAI - UAE</span>
                        </a>
                    </li>
                    <li>
                        <a href="tel:(214) 550-0405"
                           class="text-decoration-none d-flex gap-2 text-white text-opacity-75">
                            <i class="fa-solid fa-phone text-primary"></i>
                            <span>(+971) 585-397-170</span>
                        </a>
                    </li>
                    <li>
                        <a href="tel:(214) 550-5405"
                           class="text-decoration-none d-flex gap-2 text-white text-opacity-75">
                            <i class="fa-solid fa-phone text-primary"></i>
                            <span>(+971) 585-397-178</span>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:info@themeperch.net"
                           class="text-decoration-none d-flex gap-2 text-white text-opacity-75">
                            <i class="fa-solid fa-envelope-open-text text-primary"></i>
                            <span>info@expertsconsult.co</span>
                        </a>
                    </li>

                </ul>
            </div>
            <div class="col-lg-3 col-12">
                <h6 class="mb-4 fw-semibold text-white">NEWSLETTER</h6>
                <p>Signup for our latest case studies.</p>

                <form action="#" method="post">
                    <div class="input-group">
                        <input type="text" class="form-control form-control-sm"
                               placeholder="Enter your email address.." aria-label="Recipient's username"
                               aria-describedby="basic-addon2" required>
                        <div class="input-group-btn">
                            <button type="submit" class="input-group-text" id="basic-addon2">
                                <i class="fa-solid fa-arrow-right-long "></i>
                            </button>
                        </div>
                    </div>
                </form>

                <ul class="list-unstyled d-flex gap-4 pt-4">
                    <li>
                        <a href="#" target="_blank" class="text-white text-opacity-75">
                            <i class="fa-brands fs-5 fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank" class="text-white text-opacity-75">
                            <i class="fa-brands fs-5 fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank" class="text-white text-opacity-75">
                            <i class="fa-brands fs-5 fa-vimeo-v"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank" class="text-white text-opacity-75">
                            <i class="fa-brands fs-5 fa-youtube"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright bg-dark mt-5">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center flex-wrap py-4">
                <p class="mb-lg-0">&copy; @DateTime.Now.Year EXPERTS. All Rights Reserved</p>
                <ul class="list-unstyled d-flex gap-3 mb-0">
                    <li>
                        <a href="about-us.html"
                           class="text-decoration-none text-white text-opacity-75">
                            <span>
                                Contact
                                us
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-decoration-none text-white text-opacity-75">
                            <span>
                                Terms &
                                Conditions
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-decoration-none text-white text-opacity-75">
                            <span>
                                Privacy
                                policy
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


</footer>