<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("_TagsHead")
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - EXPERTS Accounting & Tax Consultancy</title>
    <meta name="description" content="Experts Accounting Services & Tax Consultancy Certified professional chartered Accountants provides Accounting and Bookkeeping services in Dubai &amp;Top-ranked accounting firm in Dubai, UAE" />
    <meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    
    <meta property="og:image" content="favicon/logo-192">
    <meta property="og:title" content="Experts Accounting Services & Tax Consultancy">
    <meta property="og:description" content="Experts Accounting & Tax Consultancy Certified professional chartered Accountants provides Bookkeeping and Accounting services in Dubai &amp;Top-ranked accounting firm in Dubai, UAE" />
    <meta property="og:url" content="https://www.expertsconsult.co/" />
    <meta property="og:site_name" content="Experts Accounting Services  & Tax Consultancy in Dubai | Bookkeeping Services  | Accounting Firms in Dubai, UAE" />
    <meta property="article:publisher" content="https://www.facebook.com/ExpertsConsultCo/" />
    <meta property="article:modified_time" content="2023-01-24T07:49:21+00:00" />
    <meta property="og:image" content="https://www.expertsconsult.co/images/logo/og-image.jpg" />
    @await RenderSectionAsync("metatags", required: false)
    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href='/assets/css/bundle.min.css'>

    <link rel="stylesheet" href='/assets/css/landingcss.css'>

</head>
<body>

    @RenderBody()
   
    <script src="/assets/js/bundle.min.js?version=7"></script>

    @await RenderSectionAsync("Scripts", required: false)
    @await Html.PartialAsync("_TagsBody")
  
  
</body>
</html>
