@{
	ViewData["Title"] = "Audit & Assurance Services";
}

@section metatags{
	<meta name="description" content="Best Audit & Assurance Services">
	<meta name="keywords" content="Audit, Internal Audit, External Audit, Audit Firm, Dubai, UAE" />
}

<div class="container-fluid page-header-2  py-5 mb-5 wow fadeIn" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
    <div class="container py-5">
        <h1 class="display-5">Audit Services</h1>

        <nav aria-label="breadcrumb" class="breadcrumb-text">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a> /</li>
                <li class="breadcrumb-item active" aria-current="page">Audit Services</li>
            </ol>
        </nav>
    </div>
</div>


<div class="container-xxl py-3">
<div class="container">
    <div class="row g-5">
        <div class="col-lg-6" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">
                <p class="fw-medium text-uppercase text-primary mb-2">Experience Top-Level Auditing with </p>
                <h2 class="display-5 mb-4">the Premier internal audit Firm in Dubai</h2>
            <p class="mb-4 fs-4">
                As a business owner or finance professional, you understand the importance of accurate financial reporting.
                    But with the ever-changing regulations and the complexity and volume of financial transactions proceed, things get more difficult.
            </p>
                <h3 class="text-success fs-2"> <u>You've come to the right place</u></h3>
            <p class="mb-4 fs-5">
                Experts Accounting & Tax Consultancy provide comprehensive audit services to businesses in the UAE, whether local or foreign-owned:
            </p>
            <div class="d-flex align-items-center mb-4">
                <div class="flex-shrink-0 bg-primary p-4">
                        <div class="welcom-text justify-content-center">
                            <h1 class="h1 display-1" data-toggle="counter-up">20</h1>
                        </div>
                        <h2>YEARS OF</h2>
                        <h2>EXPERIENCE</h2>
                </div>
                <div class="ms-4">
                        <p><i class="fa fa-check text-primary me-2"></i>Financial statement audit</p>
                        <p><i class="fa fa-check text-primary me-2"></i>Internal control review</p>
                        <p><i class="fa fa-check text-primary me-2"></i>Risk managment control</p>
                        <p><i class="fa fa-check text-primary me-2"></i>Assessment of compliance with relevant laws and regulations</p>
                        <p class="mb-0"><i class="fa fa-check text-primary me-2"></i>Use of latest technology and industry knowledge</p>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="row gx-3 h-100">
                <div class="col-12  " data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <img class="img-fluid" src="/assets/images/services/ser-3.jpg" alt="Audit Service">
                    <div class="align-items-center">
                        @await Html.PartialAsync("_AsideContact")

                    </div>


                </div>
            </div>
        </div>

    </div>
</div>
</div>
<section class="service-section">
    <div class="container pt-2 pb-2 ">
        <div class="service-offer bg-light py-30 pe-40 mb-5">
            <h2>SAVE <span class="text-danger fs-1">50%</span>  ON AUDIT FEES FOR PREVIOUS YEARS</h2>
            <p class="">Take advantage of our <span class="text-danger display-7">LIMITED-TIME</span> offer.</p>
            <a asp-action="Contact" asp-controller="Home" class="btn btn-success">
                Schedule a Free Evaluation Visit
                <i class="bi bi-arrow-right ps-2"></i>
            </a>
        </div>
     @* #FFD700;*@
    </div>
    
</section>

<section class="service-section">
    <div class="container ">
        <div class="row gx-5 px-3  pb-30 mb-2 py-60">
            <h2 class="text-underline body-font fw-bold fs-4 mb-3 pb-20">How we add value</h2>
            <div class=" job-location bg-light py-30 pe-40 mb-5">
                <div class="row py-2 px-0">
                    <div class="col-lg-6 pl-3 d-flex justify-content-center align-items-center">
                        <div class="col-lg-2 mb-5"><i class="fa-solid fa-certificate text-primary fa-3x"></i></div>
                        <i class="fa-regular fa-file-certificate"></i>
                        <div class="col-lg-10 py-2 px-0">
                            <h4>Professional Certification</h4>
                            <p> Our financial statements are stamped by authorized auditing and accounting professionals, 
                                such as certified public accountants (CPAs) and chartered accountants (CAs),
                                ensuring their accuracy and reliability. </p>
                        </div>
                    </div>
                    <div class="col-lg-6 pl-3 d-flex justify-content-center align-items-center">
                        <div class="col-lg-2 mb-5"><i class="text-primary fa-solid fa-arrow-pointer fa-3x"></i></div>
                        <div class="col-lg-10 py-2 px-1">
                            <h4> ESR Compliance</h4>
                            <p> We also help organizations comply with the Emirates Securities and Commodities Authority's (ESR) regulations,
                                so you can operate with confidence and avoid costly fines and penalties. </p>
                        </div>
                    </div>

                    <div class="col-lg-6 pl-3 d-flex justify-content-center align-items-center">
                        <div class="col-lg-2 mb-5"><i class="text-primary fas fa-coins fa-3x"></i></div>
                        <div class="col-lg-10 py-2 px-1">
                            <h4> Trusted Reporting</h4>
                            <p>Our internal audit services provide assurance to stakeholders, 
                                including investors, lenders, and regulatory authorities, 
                                that your financial statements are credible and trustworthy.</p>
                        </div>
                    </div>

                    <div class="col-lg-6 pl-3 d-flex justify-content-center align-items-center">
                        <div class="col-lg-2 mb-5"><i class="text-primary fa-solid fa-filter-circle-dollar fa-3x"></i></div>
                        <div class="col-lg-10 py-2 px-1">
                            <h4> Streamlined Processes:</h4>
                            <p>Our comprehensive internal audit solutions assess and improve your internal control processes, policies, and procedures,
                                so you can streamline your business finances and operate efficiently and effectively.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="alert alert-danger" role="alert">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> The Federal Tax Authority (FTA) in the United Arab Emirates has made it mandatory for all businesses to file their taxes electronically through the ESR system. Failure to comply can result in penalties and fines.
        </div>
    </div>
</section>
<section class="footer-banner bg-dark text-white">
<div class="container">
    <div class="d-flex flex-wrap justify-content-lg-between justify-content-center  text-center">
        <h1 class="display-5">Make A Difference With <span class="text-primary">Expert Team</span></h1>
        <div>
                <a onclick="return gtag_report_conversion('tel:+971585397170');" href="tel:+971585397170" class="btn btn-lg btn-primary">Let’s Work Together<i class="icon-arrows-slim-right ps-2"></i></a>
        </div>
    </div>
</div>
</section>
