<html>
<head>
	<script src='https://cdn.tailwindcss.com/'></script>
</head>
<body>
	<div class="bg-white">
		<div class="max-w-7xl mx-auto relative text-gray-700 body-font">
			<div class="container flex flex-col flex-wrap items-center justify-between py-5 md:flex-row">
				<a href="#_" class="flex items-center order-first font-medium text-gray-900 lg:order-none lg:w-auto title-font lg:items-center lg:justify-center">
					<span class="text-xl font-black leading-none text-gray-900 select-none logo">Experts Accounting & Tax Consultancy<span class="text-blue-600">.</span></span>
				</a>
				<div class="relative flex flex-col md:flex-row items-center">
					<nav class="flex flex-wrap items-center pt-2 pb-2 pb-5 text-base border-b border-gray-200 md:pt-0 md:mb-0 md:border-b-0 md:pr-3 md:mr-3 md:border-r md:pb-0">
						<a href="#_" class="mr-6 font-medium leading-6 text-gray-600 hover:text-gray-900 secondary_text link-editable editable">Home</a>
						<a href="#_" class="mr-6 font-medium leading-6 text-gray-600 hover:text-gray-900 secondary_text link-editable editable">How It Works</a>
						<a href="#_" class="mr-6 font-medium leading-6 text-gray-600 hover:text-gray-900 secondary_text link-editable editable">Features</a>
						<a href="#_" class="mr-6 font-medium leading-6 text-gray-600 hover:text-gray-900 secondary_text link-editable editable">Faq</a>
					</nav>
					<div class="inline-flex items-center justify-center ml-5 space-x-4 md:space-x-10 md:justify-end">
						<a href="#_" class="text-base font-medium leading-6 text-gray-600 whitespace-no-wrap transition duration-150 ease-in-out hover:text-blue-600 secondary_text link-editable">Sign in</a>
						<a href="#_" class="inline-flex items-center justify-center px-4 py-2 text-base font-medium leading-6 text-white whitespace-no-wrap bg-blue-600 border border-transparent rounded-md shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600 secondary_text btn-editable">Sign up</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-white">
		<div class="px-4 py-32 mx-auto max-w-7xl">
			<div class="w-full mx-auto text-center md:w-11/12 xl:w-8/12 md:text-center">
				<h1 class="mb-3 text-4xl font-bold text-gray-900 md:text-5xl md:leading-tight md:font-extrabold primary_text editable" data-content="website-headlines">Get Professional Accounting & Tax Solutions That Help Your Business Grow</h1>
				<p class="mb-6 text-lg text-gray-500 md:text-xl md:leading-normal secondary_text editable" data-content="website-subheadlines">Expertise in Accounting and Tax Consultancy for Businesses</p>
				<form class="flex items-center justify-center w-full pt-1 mx-auto mb-8">
					<label class="mr-2 mb-0 w-2/4">
						<span class="sr-only">Your Email</span>
						<input class="mt-0 border text-lg border-gray-300 rounded-sm secondary_text px-3 py-3 w-full box-border" type="email" placeholder="Enter your email..." required="true">
					</label>
					<button class="bg-blue-600 text-lg text-white font-medium border border-indigo-600 px-8 py-3 rounded-sm hover:bg-blue-700 secondary_text btn-editable editable" type="submit">Get Started</button>
				</form>
				<div class="flex flex-col justify-start mb-3 space-x-0 space-y-2 text-xs text-gray-600 md:flex-row md:justify-center md:space-x-8 md:space-y-0">
					<div class="flex items-center">
						<svg viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 mr-1 text-green-600">
							<path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
						</svg>
						<p class="text-sm text-gray-600 secondary_text editable">No credit card required</p>
					</div>
					<div class="flex items-center">
						<svg viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 mr-1 text-green-600">
							<path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
						</svg>
						<p class="text-sm text-gray-600 secondary_text editable">14 days free</p>
					</div>
					<div class="flex items-center">
						<svg viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 mr-1 text-green-600">
							<path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
						</svg>
						<p class="text-sm text-gray-600 secondary_text editable">Cancel anytime</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-white">
		<div class="px-4 py-16 mx-auto sm:max-w-7xl md:max-w-7xl lg:max-w-7xl md:px-24 lg:px-8 lg:py-20">
			<div class="grid gap-6 row-gap-10 lg:grid-cols-2" data-content="how-it-works">
				<div class="lg:py-6 lg:pr-16">
					<h2 class="mb-8 font-bold text-black text-4xl primary_text editable">How it works</h2>
					<div class="flex" data-subcontent="step_1">
						<div class="flex flex-col items-center mr-4">
							<div>
								<div class="flex items-center justify-center w-10 h-10 border rounded-full">
									<svg class="w-4 text-blue-600" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
										<line fill="none" stroke-miterlimit="10" x1="12" y1="2" x2="12" y2="22"></line>
										<polyline fill="none" stroke-miterlimit="10" points="19,15 12,22 5,15"></polyline>
									</svg>
								</div>
							</div>
							<div class="w-px h-full bg-gray-300"></div>
						</div>
						<div class="pt-1 pb-8 w-full">
							<p class="mb-2 text-xl text-gray-900 font-bold primary_text editable" data-subcontent="step-title">Schedule a Free Consultation</p>
							<p class="text-base text-gray-600 secondary_text editable" data-subcontent="step-content">Schedule a free consultation with one of our experts to discuss your business needs.</p>
						</div>
					</div>
					<div class="flex" data-subcontent="step_2">
						<div class="flex flex-col items-center mr-4">
							<div>
								<div class="flex items-center justify-center w-10 h-10 border rounded-full">
									<svg class="w-4 text-blue-600" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
										<line fill="none" stroke-miterlimit="10" x1="12" y1="2" x2="12" y2="22"></line>
										<polyline fill="none" stroke-miterlimit="10" points="19,15 12,22 5,15"></polyline>
									</svg>
								</div>
							</div>
							<div class="w-px h-full bg-gray-300"></div>
						</div>
						<div class="pt-1 pb-8 w-full">
							<p class="mb-2 text-xl text-gray-900 font-bold primary_text editable" data-subcontent="step-title">Receive a Proposal</p>
							<p class="text-base text-gray-600 secondary_text editable" data-subcontent="step-content">After the consultation, you will receive a proposal outlining our services and pricing.</p>
						</div>
					</div>
					<div class="flex" data-subcontent="step_3">
						<div class="flex flex-col items-center mr-4">
							<div>
								<div class="flex items-center justify-center w-10 h-10 border rounded-full">
									<svg class="w-6 text-blue-600" stroke="currentColor" viewBox="0 0 24 24">
										<polyline fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="6,12 10,16 18,8"></polyline>
									</svg>
								</div>
							</div>

						</div>
						<div class="pt-1 pb-0 w-full">
							<p class="mb-2 text-xl text-gray-900 font-bold primary_text editable" data-subcontent="step-title">Engage Our Services</p>
							<p class="text-base text-gray-600 secondary_text editable" data-subcontent="step-content">Once you have approved the proposal, we will begin working on your project.</p>
						</div>
					</div>
				</div>
				<div class="relative">
					<img class="inset-0 object-cover w-full rounded shadow-lg h-96 lg:absolute lg:h-full img-editable" src="https://images.unsplash.com/photo-1554224154-26032ffc0d07" alt="">
					<p class="photo-credit absolute bottom-3 text-white text-xs right-4 tracking-tight secondary_text font-medium">Photo by <a href="https://unsplash.com/kellysikkema?utm_source=copymatic&utm_medium=referral" target="_blank" class="text-white underline">Kelly Sikkema</a> on <a href="https://unsplash.com/?utm_source=copymatic&utm_medium=referral" target="_blank" class="text-white underline">Unsplash</a></p>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-white body-font">
		<div class="container px-5 py-24 mx-auto">
			<div class="text-center mb-20">
				<h1 class="sm:text-4xl text-3xl font-bold text-center title-font text-gray-900 mb-4 primary_text editable" data-content="website-headlines">Get the Expert Advice You Need to Grow Your Business</h1>
				<p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto text-gray-600 secondary_text editable" data-content="website-subheadlines">Experts Accounting & Tax Consultancies Provides Accounting & Tax Consultancy & Business Development.</p>
			</div>
			<div class="flex flex-wrap lg:w-4/5 sm:mx-auto sm:mb-2 -mx-2">
				<div class="p-2 sm:w-1/2 w-full" data-content="features">
					<div class="bg-gray-50 rounded flex p-4 h-full items-center">
						<svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-blue-600 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
							<path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
							<path d="M22 4L12 14.01l-3-3"></path>
						</svg>
						<p class="title-font text-gray-600 font-medium w-full secondary_text editable" data-subcontent="feature-title">Services</p>
					</div>
				</div>
				<div class="p-2 sm:w-1/2 w-full" data-content="features">
					<div class="bg-gray-50 rounded flex p-4 h-full items-center">
						<svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-blue-600 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
							<path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
							<path d="M22 4L12 14.01l-3-3"></path>
						</svg>
						<p class="title-font text-gray-600 font-medium w-full secondary_text editable" data-subcontent="feature-title">Looking for a reliable and experienced accounting and tax consultant? Look no further than Experts Accounting & Tax Consultancy. We provide comprehensive accounting and tax services to businesses of all sizes, ensuring that you stay compliant with the latest regulations. We also offer business development services to help you grow your business.</p>
					</div>
				</div>
				<div class="p-2 sm:w-1/2 w-full" data-content="features">
					<div class="bg-gray-50 rounded flex p-4 h-full items-center">
						<svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-blue-600 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
							<path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
							<path d="M22 4L12 14.01l-3-3"></path>
						</svg>
						<p class="title-font text-gray-600 font-medium w-full secondary_text editable" data-subcontent="feature-title">Business Development</p>
					</div>
				</div>
				<div class="p-2 sm:w-1/2 w-full" data-content="features">
					<div class="bg-gray-50 rounded flex p-4 h-full items-center">
						<svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-blue-600 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
							<path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
							<path d="M22 4L12 14.01l-3-3"></path>
						</svg>
						<p class="title-font text-gray-600 font-medium w-full secondary_text editable" data-subcontent="feature-title">Business Growth</p>
					</div>
				</div>
				<div class="p-2 sm:w-1/2 w-full" data-content="features">
					<div class="bg-gray-50 rounded flex p-4 h-full items-center">
						<svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-blue-600 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
							<path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
							<path d="M22 4L12 14.01l-3-3"></path>
						</svg>
						<p class="title-font text-gray-600 font-medium w-full secondary_text editable" data-subcontent="feature-title">Save time and money</p>
					</div>
				</div>
				<div class="p-2 sm:w-1/2 w-full" data-content="features">
					<div class="bg-gray-50 rounded flex p-4 h-full items-center">
						<svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-blue-600 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
							<path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
							<path d="M22 4L12 14.01l-3-3"></path>
						</svg>
						<p class="title-font text-gray-600 font-medium w-full secondary_text editable" data-subcontent="feature-title">Business Development</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="py-24 bg-white">
		<div class="px-8 mx-auto max-w-7xl lg:px-16">
			<h2 class="mb-4 text-xl font-bold text-gray-900 md:text-3xl primary_text editable">Frequently Asked Questions</h2>
			<div class="grid grid-cols-1 gap-0 text-gray-600 md:grid-cols-2 md:gap-16">
				<div>
					<div class="faq">
						<h5 class="mt-10 mb-3 font-semibold text-gray-900 secondary_text editable" data-content="faq">How can I get in touch with an expert for accounting and tax consultancy?</h5>
						<p class="text-sm secondary_text editable" data-subcontent="faq-answers">At Experts Accounting & Tax Consultancy, we have a team of highly trained professionals who are always eager to assist you with your accounting and tax needs. All you need to do is contact us via phone or email, and our staff will provide you with the necessary information. Additionally, if you need any advice on business development or growth strategies, our experts will be more than happy to help!</p>
					</div>
					<div class="faq">
						<h5 class="mt-10 mb-3 font-semibold text-gray-900 secondary_text editable" data-content="faq">How can I reduce my tax liability?</h5>
						<p class="text-sm secondary_text editable" data-subcontent="faq-answers">Minimizing your taxes is a key part of staying profitable. With the right advice, you can develop tax strategies that will help you save money in the long run. We offer comprehensive accounting and tax services that can help you structure your business to reduce your taxable income. Our experienced team can review your current situation and provide tailored advice on how to reduce your tax liability.</p>
					</div>
					<div class="faq">
						<h5 class="mt-10 mb-3 font-semibold text-gray-900 secondary_text editable" data-content="faq">How can I reduce my overall tax liability?</h5>
						<p class="text-sm secondary_text editable" data-subcontent="faq-answers">Tax liabilities can vary greatly depending on your unique situation. The first step is to understand the various tax rules and regulations applicable to your business. At Experts Accounting & Tax Consultancy, we provide comprehensive tax planning services that help our clients minimize their liability while staying compliant with applicable laws. Our experienced team of professionals will work with you to identify opportunities to reduce your tax burden, such as taking advantage of relevant deductions and credits available. We also offer advice on how to structure your business in the most tax-efficient way possible.</p>
					</div>
				</div>
				<div>
					<div class="faq">
						<h5 class="mt-10 mb-3 font-semibold text-gray-900 secondary_text editable" data-content="faq">How can Experts Accounting & Tax help my business?</h5>
						<p class="text-sm secondary_text editable" data-subcontent="faq-answers">Experts Accounting & Tax can help you in many ways. We provide comprehensive services that include tax planning, bookkeeping, auditing and business development. Our experts are well-versed in the laws and regulations related to taxes and accounting and have the experience to help you maximize your profits and minimize your losses. We also offer proactive strategies for reducing tax liabilities and increasing profitability. Finally, we can provide you with financial guidance to ensure that your business runs smoothly and efficiently.</p>
					</div>
					<div class="faq">
						<h5 class="mt-10 mb-3 font-semibold text-gray-900 secondary_text editable" data-content="faq">What are the different types of services that Experts Accounting & Tax Consultancy offers?</h5>
						<p class="text-sm secondary_text editable" data-subcontent="faq-answers">Experts Accounting & Tax Consultancy offers a wide range of services that help businesses save taxes and manage their financials. We offer comprehensive accounting, tax planning and filing, payroll processing, business formation and formation documents, international transactions, financial analysis, and more. Our team of experts are always available to provide tailored advice for any of your needs.</p>
					</div>
					<div class="faq">
						<h5 class="mt-10 mb-3 font-semibold text-gray-900 secondary_text editable" data-content="faq">How can Experts Accounting & Tax Consultancy help my business?</h5>
						<p class="text-sm secondary_text editable" data-subcontent="faq-answers">We provide tailored accounting and tax consultancy services that take into account your business goals. Our experienced team will analyze and review your current financial information to identify areas for improvement in your business operations and ensure compliance with any applicable regulations. We can also help devise strategies to maximize profits, reduce costs, increase efficiency, and optimize taxation opportunities. Get in touch today to find out how our expert professionals can help you succeed.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-white">
		<div class="text-center w-full mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 z-20">
			<h2 class="text-3xl font-extrabold text-black dark:text-white sm:text-4xl primary_text editable" data-content="cta"><span class="placeholder large"></span></h2>
			<h2 class="text-3xl font-extrabold text-gray-800 dark:text-white sm:text-4xl mt-1 primary_text editable">
				Start your 14-day free trial
			</h2>
			<p class="text-xl mt-4 max-w-md mx-auto text-gray-400 secondary_text editable" data-content="website-subheadlines">We Offer Accounting & Tax Consultancy for small businesses and high net worth clients.</p>
			<div class="lg:mt-0 lg:flex-shrink-0">
				<div class="mt-12 inline-flex">
					<button type="button" class="py-3 px-6 bg-blue-600 hover:bg-blue-700 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-md shadow secondary_text btn-editable editable">Start free trial</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>