@{
    ViewData["Title"] = "All Services";
}


<section class="banner-section position-relative overflow-hidden bg-dark">
    <div class="parallax bg-cover position-absolute start-0 top-0 w-100 h-100 opacity-50"></div>
    <div class="container text-white">
        <h2 class="underline-bold fw-bold fs-1 mb-3 pb-3">Services</h2>
        <nav aria-label="breadcrumb" class="breadcrumb-text">
            <ol class="breadcrumb">
                <li class="breadcrumb-item link"><a class="text-white" asp-action="Index" asp-controller="Home">Home / </a></li>
                <li class="breadcrumb-item" aria-current="page">Services</li>
            </ol>
        </nav>
    </div>
</section>