@{
    ViewData["Title"] = "All Services";
}


<section class="banner-section position-relative overflow-hidden bg-dark">
    <div class="parallax bg-cover position-absolute start-0 top-0 w-100 h-100 opacity-50"></div>
    <div class="container text-white">
        <h2 class="underline-bold fw-bold fs-1 mb-3 pb-3">Services</h2>
        <nav aria-label="breadcrumb" class="breadcrumb-text">
            <ol class="breadcrumb">
                <li class="breadcrumb-item link"><a class="text-white" asp-action="Index" asp-controller="Home">Home / </a></li>
                <li class="breadcrumb-item" aria-current="page">Services</li>
            </ol>
        </nav>
    </div>
</section>
<section class="service-section py-60">
    <div class="container">
        <div class="row gx-5 gy-30">
            <div class="col-lg-9">
                <div class="row gy-5">
                    <div class="col-lg-4">
                        <div class="card single-team-member h-100">
                            <div class="team-member-photo">
                                <img src="/assets/images/services/ser-1.jpg" class="card-img-top" alt="Accounting Services in Dubai">
                                <a asp-action="accounting-services" asp-controller="services" class="view-full-size text-decoration-none small text-uppercase lh-sm">
                                    <span class="text-white">know more</span>
                                </a>
                            </div>
                            <div class="card-body">
                                <a asp-action="accounting-services" asp-controller="services" class="text-decoration-none">
                                    <h5 class="card-title fs-4 fw-normal mb-20">Accounting Services</h5>
                                </a>
                                <p class="card-text small mb-3">
                                    Comprehensive accounting and bookkeeping services to help businesses effectively manage their financial information and obligations.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card single-team-member h-100">
                            <div class="team-member-photo">
                                <img src="/assets/images/services/ser-3.jpg" class="card-img-top" alt="Audit in dubai">
                                <a asp-action="audit-and-assurance" asp-controller="services" class="view-full-size text-decoration-none small text-uppercase lh-sm">
                                    <span class="text-white">know more</span>
                                </a>
                            </div>
                            <div class="card-body">
                                <a asp-action="audit-and-assurance" asp-controller="services" class="text-decoration-none">
                                    <h5 class="card-title fs-4 fw-normal mb-20">Audit &amp; Assurance</h5>
                                </a>
                                <p class="card-text small mb-3">
                                  Independent, objective and reliable assessment to help businesses protect and grow their value.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card single-team-member h-100">
                            <div class="team-member-photo">
                                <img src="/assets/images/services/ser-4.jpg" class="card-img-top" alt="Tax Consultancy">
                                <a asp-action="hire-a-tax-consultant-in-dubai-uae" asp-controller="services" class="view-full-size text-decoration-none small text-uppercase lh-sm">
                                    <span class="text-white">know more</span>
                                </a>
                            </div>
                            <div class="card-body">
                                <a asp-action="hire-a-tax-consultant-in-dubai-uae" asp-controller="services" class="text-decoration-none">
                                    <h5 class="card-title fs-4 fw-normal mb-20">
                                        Tax Consultancy
                                    </h5>
                                </a>
                                <p class="card-text small mb-3">
                                    Our team of experts are highly trained in all aspects of tax and are approved by the Federal Tax Authority (FTA).
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card single-team-member h-100">
                            <div class="team-member-photo">
                                <img src="/assets/images/services/ser-2.jpg" class="card-img-top" alt="VAT Consultancy">
                                <a asp-action="vat-registeration-in-dubai-uae" asp-controller="services" class="view-full-size text-decoration-none small text-uppercase lh-sm">
                                    <span class="text-white">know more</span>
                                </a>
                            </div>
                            <div class="card-body">
                                <a asp-action="vat-registeration-in-dubai-uae" asp-controller="services" class="text-decoration-none">
                                    <h5 class="card-title fs-4 fw-normal mb-20">VAT Consultancy</h5>
                                </a>
                                <p class="card-text small mb-3">
                                   Helping businesses comply with their VAT obligations and maximize their VAT savings.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card single-team-member h-100">
                            <div class="team-member-photo">
                                <img src="/assets/images/services/ser-5.jpg" class="card-img-top" alt="Business  Solutions">
                                <a href="service-details-2.html" class="view-full-size text-decoration-none small text-uppercase lh-sm">
                                    <span class="text-white">know more</span>
                                </a>
                            </div>
                            <div class="card-body">
                                <a asp-action="business-solutions-in-uae" asp-controller="services" class="text-decoration-none">
                                    <h5 class="card-title fs-4 fw-normal mb-20">Business  Solutions</h5>
                                </a>
                                <p class="card-text small mb-3">
                                    Streamline operations and automate business processes, helping businesses reduce costs, increase efficiency, and improve customer satisfaction.
                                </p>
                            </div>
                        </div>
                    </div>
@*                    <div class="col-lg-4">
                        <div class="card single-team-member h-100">
                            <div class="team-member-photo">
                                <img src="/assets/images/services/ser-6.jpg" class="card-img-top" alt="Business Growth">
                                <a href="service-details-1.html" class="view-full-size text-decoration-none small text-uppercase lh-sm">
                                    <span class="text-white">know more</span>
                                </a>
                            </div>
                            <div class="card-body">
                                <a href="service-details-1.html" class="text-decoration-none">
                                    <h5 class="card-title fs-4 fw-normal mb-20">Business Growth</h5>
                                </a>
                                <p class="card-text small mb-3">
                                    Analyze current business operations, identify areas of improvement, and develop strategies to maximize growth potential..
                                </p>
                            </div>
                        </div>
                    </div>
*@                </div>

            </div>
            <div class="col-lg-3">
                <div class="sidebar d-grid gap-30">
                    <div class="vertical-nav">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page"asp-action="About" asp-controller="Home" >
                                    Company
                                    overview
                                </a>
                            </li>

                            <li class="nav-item">
                                <a asp-action="Index" asp-controller="Services"  class="nav-link active">Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-action="About" asp-controller="Home">Our Team</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-muted">Partners</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-muted">Careers</a>
                            </li>

                        </ul>
                    </div>

                    <div>
                        <a href="#" class="btn btn-secondary d-flex gap-2 ps-3 pe-2 align-items-center text-start">
                            <span class="bi bi-file-earmark-pdf fs-5"></span>
                            <span>Download Company Brochures</span>
                        </a>
                    </div>

                    <div class="help bg-primary text-white d-grid gap-3">
                        <h4>Need Help?</h4>
                        <p class="fw-bold">
                            Just hit the button below and get a free consultation 
                        </p>
                        <div>
                            <a asp-action="Contact" asp-controller="Home" class="btn btn-sm btn-secondary border-secondary-hover">
                                <span class="fa-solid fa-envelope"></span>
                                <span>Get in touch</span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
