@{
	ViewData["Title"] = "Tax Consulting Services";
}

@section metatags{
	<meta name="description" content="Tax Consulting Services">
	<meta name="keywords" content="UAE Tax Service, UAE VAT Services, UAE VAT Registration,VAT Compliance, VAT Returns, FAQs VAT UAE, Tax Consultancy,Dubai" />
}


<div class="inner-pages">
<section class="headings">
		<div class="text-heading text-center">
			<div class="container">
				<h1>Tax Consulting Services</h1>
					<h2><a asp-action="Index" asp-controller="Home">Home </a> &nbsp;>>&nbsp; Tax Consulting Services</h2>
			</div>
		</div>
	</section>
	<!-- END SECTION HEADINGS -->

	<!-- START SECTION SERVICE DETAILS -->
	<section class="service-details panel-2">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-12 service-info">
					<div class="row">
						<div class="col-md-12 img-details">
						<img src="/images/projects/g-10.jpg" alt="tax-consulting">
							<div class="service-text">
								<h3 class="mt-3 over">SERVICE <span class="font-weight-bold">OVERVIEW</span></h3>
								<p class="mb-4">Starting from the year 2018, the UAE government has imposed a tax on the import and supply of goods and services at each stage of production and distribution, with the exception of those supplies which are zero rated or exempt from VAT.</p>
								<p class="mb-5">Virtually every transaction in a company needs VAT management. Improper handling of the VAT can cause unnecessary costs and penalties for your business. This is where the services offered by Tax Adepts, a trusted VAT consultant  come into play.</p>
								<h3 class="mt-3 over">VAT <span class="font-weight-bold">REGISTRATION</span></h3>
								<p class="mb-4">A business must register for VAT if its taxable supplies and imports exceed AED 375,000 per annum, and It is optional for businesses whose supplies and imports exceed AED 187,500 per annum.</p>
								<p class="mb-1">EXPERS providing VAT Registration Services in Dubai, Abu Dhabi, Sharjah, Ajman, Ras Al Khaimah and all over UAE</p>
								<a href="/Pricing#vat_plans"> Price List >></a>
								<h3 class="mt-3 over">VAT <span class="font-weight-bold">Compliance </span></h3>
								<p class="mb-4"> VAT compliance is the act of ensuring that your VAT return is filed accordingly for the period as stipulated by that VAT authority.</p>
								<p class="mb-5"> Ultimately, the main objective is to avoid penalties. The governing VAT authorities lay on penalties for businesses that are making sales in their country but not paying output VAT.</p>
							</div>
						</div>
					</div>
					<div class="departments-details">
						<h3>VAT <span class="font-weight-bold">FAQs </span></h3>
						<div class="row">
							<div class="col-lg-12 col-md-12 service-info">
								<article class="faq">
									<div id="accordion" role="tablist" aria-multiselectable="true">
										<div class="panel panel-default">
											<h4 class="panel-heading">
 <a data-toggle="collapse" data-parent="#accordion" href="#tab-1">When Tax registration is mandatory?</a>
                            </h4>
											<div id="tab-1" class="panel-collapse collapse-in">
												<p>
A business must register for VAT if its taxable supplies and imports exceed AED 375,000 per annum, and It is optional for businesses whose supplies and imports exceed AED 187,500 per annum.												</p>
											</div>
										</div>
										<div class="panel panel-default">
											<h4 class="panel-heading">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#tab-2">On which businesses does VAT apply?</a>
                            </h4>
											<div id="tab-2" class="panel-collapse collapse">
												<p>
VAT applies equally on tax-registered businesses managed on the UAE mainland and in the free zones. However, if the UAE Cabinet defines a certain free zone as a ‘designated zone’, it must be treated as outside the UAE for tax purposes. The transfer of goods between designated zones are tax-free.												</p>
											</div>
										</div>
										<div class="panel panel-default">
											<h4 class="panel-heading">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#tab-3" >What are the documents required for VAT registration in Dubai – UAE?</a>
                            </h4>
											<div id="tab-3" class="panel-collapse collapse">
												<p>
													<ul>
														<li>Valid Trade Licence / Business Licence (should not be expired).</li>
														<li>Passport/Emirates ID of the authorised signatory. (should not be expired).</li>
														<li>Proof of authorisation for the authorised signatory.</li>
														<li>Monthly turnover declaration for the specified periods that is signed and stamped by the authorised signatory on the entity’s printed letterhead, and supporting financial documents such as: invoices, purchase orders, title deeds, and lease agreements..</li>
														<li>A copy of the legislation that establishes the entity in case the registration request was in relation to a federal / local government entity</li>
														<li>Bank Account details</li>
														<li>Custom registration documents in each Emirate, if applicable.</li>
														<li>The estimated imports value of one year to each GCC countries.</li>
														<li>The estimated exports value  for one year for each GCC countries.</li>


													</ul>
												</p>
											</div>
										</div>
										<div class="panel panel-default">
											<h4 class="panel-heading">
 <a data-toggle="collapse" data-parent="#accordion" href="#tab-4">When will the VAT registration certificate be received?</a>
                            </h4>
											<div id="tab-4" class="panel-collapse collapse">
												<p>
The soft copy of the VAT registration certificate will be available on the registrants e-Services account dashboard. However, the registrant, where required, may access the service by clicking here.												</p>
											</div>
										</div>
									</div>
								</article>
							</div>
						</div>
					</div>
					<div class="specialists img-details">
                        <h3 class="mt-5">Let EXPERTS Do it For <span class="font-weight-bold"> You!</span></h3>
                        <p class="my-4">We, being FTA approved tax agent, have extensive experience and knowledge about VAT registration requirements. We can support our clients in making the appropriate decision on VAT registration, which includes, among other factors, the consideration of standalone or Group registration.</p>

                        <p class="mb-0"><ul>
								<li>FREE VAT consultancy.</li>
								<li>VAT Registration.</li>
								<li>VAT DeRegistration.</li>
								<li>VAT Implementation / Support.</li>
								<li>VAT Refunds.</li>


							</ul></p>
					    <div >
							<a  href="tel:+971585397170" class="btn btn-action btn-secondary btn-lg call-to-action">Book an appointment today </a>
						</div>
                    </div>
				</div>
				         <partial name="~/Views/Shared/_AsidePartial.cshtml" />
			</div>
		</div>
	</section>
	
	<!-- END SECTION SERVICE DETAILS -->
	<section class="info-help">
		<div class="container">
			<div class="row info-head">
				<div class="col-lg-6 col-md-8 col-xs-8">
					<div class="info-text">
						<h3>Register for VAT Contact Us for Consultation...</h3>
						<p>We checkout your VAT registration eligibility,prepare documents, and handle the entire registration process.</p>
						<div class="inf-btn pro">
						<a onclick="return gtag_report_conversion('tel:+971585397170');" href="tel:+971585397170" class="btn btn-pro btn-secondary btn-lg ">CALL NOW</a>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-3"></div>
			</div>
		</div>
	</section>
</div>