@{
	ViewData["Title"] = "خدمات الاستشارات الضريبية";
}

@section metatags{
	<meta name="description" content="Tax Consulting Services">
	<meta name="keywords" content="UAE Tax Service, UAE VAT Services, UAE VAT Registration,VAT Compliance, VAT Returns, FAQs VAT UAE, Tax Consultancy,Dubai" />
}


<div class="inner-pages">
<section class="headings">
		<div class="text-heading text-center">
			<div class="container">
				<h1>خدمات الاستشارات الضريبية</h1>
					<h2><a asp-action="Index" asp-controller="Home">الرئيسية </a> &nbsp;>>&nbsp; خدمات الاستشارات الضريبية</h2>
			</div>
		</div>
	</section>
	<!-- END SECTION HEADINGS -->

	<!-- START SECTION SERVICE DETAILS -->
	<section class="service-details panel-2">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-12 service-info">
					<div class="row">
						<div class="col-md-12 img-details">
							<img src="/images/projects/g-10.jpg" alt="tax-consulting">
							<div class="service-text">
								<h3 class = "mt-3 over"> نظرة عامة </h3>
								<p class = "mb-4"> اعتبارًا من عام 2018 ، فرضت حكومة الإمارات العربية المتحدة ضريبة على استيراد وتوريد السلع والخدمات في كل مرحلة من مراحل الإنتاج والتوزيع ، باستثناء تلك التوريدات الخاضعة لنسبة الصفر. أو معفى من ضريبة القيمة المضافة. </p>
								<p class = "mb-5"> تحتاج كل معاملة تقريبًا في الشركة إلى إدارة ضريبة القيمة المضافة, يمكن أن يؤدي التعامل غير السليم مع ضريبة القيمة المضافة إلى تكاليف وعقوبات غير ضرورية على عملك. هذا هو المكان الذي تلعب فيه الخدمات المقدمة من قبل مستشار ضريبة القيمة المضافة الموثوق به. </p>
								<h3 class = "mt-3 over"> التسجيل بضريبة القيمة المضافة    </h3>
								<p class = "mb-4"> يجب على الشركة التسجيل في ضريبة القيمة المضافة إذا تجاوزت التوريدات والواردات الخاضعة للضريبة 375000 درهم إماراتي سنويًا ، وهي اختيارية للشركات التي تتجاوز توريداتها ووارداتها 187500 درهم إماراتي سنويًا. </p>
								<p class = "mb-1"> الخبراء الذين يقدمون خدمات تسجيل ضريبة القيمة المضافة في دبي وأبو ظبي والشارقة وعجمان ورأس الخيمة وجميع أنحاء الإمارات العربية المتحدة </p>
								<a href="/Pricing#vat_plans"> << قائمة الاسعار</a>
								<h3 class = "mt-3 over">الامتثال لضريبة القيمة المضافة </h3>
								<p class = "mb-4"> الامتثال لضريبة القيمة المضافة هو ضمان تقديم إقرار ضريبة القيمة المضافة وفقًا لذلك للفترة كما هو منصوص عليه من قبل سلطة ضريبة القيمة المضافة. </p>
								<p class = "mb-5"> في النهاية ، الهدف الرئيسي هو تجنب العقوبات. تفرض سلطات ضريبة القيمة المضافة الحاكمة عقوبات على الشركات التي تحقق مبيعات في بلدها ولكنها لا تدفع ضريبة القيمة المضافة على المخرجات. </p>					</div>
						</div>
					</div>
					<div class="departments-details">
						<h3>أسئلة وأجوبة </h3>
						<div class="row">
							<div class="col-lg-12 col-md-12 service-info">
								<article class="faq">
									<div id="accordion" role="tablist" aria-multiselectable="true">
										<div class="panel panel-default">
											<h4 class="panel-heading">
 <a data-toggle="collapse" data-parent="#accordion" href="#tab-1">متى يكون التسجيل الضريبي إلزاميا؟</a>
                            </h4>
											<div id="tab-1" class="panel-collapse collapse-in">
												<p>
يجب أن تسجل الشركة ضريبة القيمة المضافة إذا تجاوزت توريداتها الخاضعة للضريبة ووارداتها 375000 درهم إماراتي سنويًا ، وهي اختيارية للشركات التي تتجاوز توريداتها ووارداتها 187500 درهم إماراتي سنويًا. </p>											</div>
										</div>
										<div class="panel panel-default">
											<h4 class="panel-heading">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#tab-2">ما هي الأعمال التجارية التي تطبق عليها ضريبة القيمة المضافة؟</a>
                            </h4>
											<div id="tab-2" class="panel-collapse collapse">
												<p>
تطبق ضريبة القيمة المضافة بالتساوي على الأعمال التجارية المسجلة الضريبية والمدارة في البر الرئيسي لدولة الإمارات العربية المتحدة وفي المناطق الحرة. ومع ذلك ، إذا حدد مجلس الوزراء في دولة الإمارات العربية المتحدة منطقة حرة معينة على أنها "منطقة محددة" ، فيجب معاملتها على أنها خارج دولة الإمارات العربية المتحدة لأغراض ضريبية. نقل البضائع بين المناطق المعينة معفى من الضرائب. </p>											</div>
										</div>
										<div class="panel panel-default">
											<h4 class="panel-heading">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#tab-3" >ما هي المستندات المطلوبة للتسجيل في ضريبة القيمة المضافة في دبي - الإمارات؟</a>
                            </h4>
											<div id="tab-3" class="panel-collapse collapse">
												<p>
													<ul>
														<li> رخصة تجارية / رخصة تجارية سارية (يجب ألا تنتهي صلاحيتها). </li>
							<li> جواز السفر / هوية الإمارات للمخول بالتوقيع. (يجب ألا تنتهي صلاحيته). </li>
							<li> إثبات التفويض للمفوض بالتوقيع. </li>
							<li> إقرار رقم الأعمال الشهري للفترات المحددة موقعًا ومختومًا من قبل المفوض بالتوقيع على ورق الكيان المطبوع ، والمستندات المالية الداعمة مثل: الفواتير وأوامر الشراء وسندات الملكية واتفاقيات الإيجار .. </li>
							<li> نسخة من التشريع المنشئ للكيان في حال كان طلب التسجيل متعلقًا بهيئة حكومية اتحادية / محلية </li>
							<li> تفاصيل الحساب المصرفي </li>
							<li> مستندات تسجيل مخصصة في كل إمارة ، إن أمكن. </li>
							<li> قيمة الواردات المقدرة لعام واحد لكل دولة من دول مجلس التعاون الخليجي. </li>
							<li> قيمة الصادرات المقدرة لمدة عام واحد لكل دول مجلس التعاون الخليجي. </li>

													</ul>
												</p>
											</div>
										</div>
										<div class="panel panel-default">
											<h4 class="panel-heading">
 <a data-toggle="collapse" data-parent="#accordion" href="#tab-4">متى سيتم استلام شهادة التسجيل في ضريبة القيمة المضافة؟</a>
                            </h4>
											<div id="tab-4" class="panel-collapse collapse">
												<p>
ستكون النسخة الإلكترونية من شهادة تسجيل ضريبة القيمة المضافة متاحة على لوحة معلومات حساب الخدمات الإلكترونية للمسجلين. </p>											</div>
										</div>
									</div>
								</article>
							</div>
						</div>
					</div>
					<div class="specialists img-details">
                        <h3 class="mt-5">دع اكسبرتس يفعلون ذلك من أجلك!</h3>
                       <p class = "my-4"> نحن ، بصفتنا وكيل ضرائب معتمدًا من قبل اتفاقية التجارة الحرة ، لدينا خبرة واسعة ومعرفة حول متطلبات التسجيل في ضريبة القيمة المضافة. يمكننا دعم عملائنا في اتخاذ القرار المناسب بشأن التسجيل في ضريبة القيمة المضافة ، والذي يتضمن ، من بين عوامل أخرى ، النظر في التسجيل المستقل أو الجماعي. </ p>

                        <p class = "mb-0"> <ul>
<li> استشارات مجانية لضريبة القيمة المضافة. </ li>
<li> التسجيل في ضريبة القيمة المضافة </li>
<li> إلغاء التسجيل في ضريبة القيمة المضافة. </li>
<li> تنفيذ / دعم ضريبة القيمة المضافة. </li>
<li> استرداد ضريبة القيمة المضافة. </li>


</ul> </p>
					    <div >
							<a  href="tel:+971585397170" class="btn btn-action btn-secondary btn-lg call-to-action">احجز موعدًا اليوم </a>
						</div>
                    </div>
				</div>
				         <partial name="~/Views/Shared/_AsidePartial.cshtml" />
			</div>
		</div>
	</section>
	
	<!-- END SECTION SERVICE DETAILS -->
	<section class="info-help">
		<div class="container">
			<div class="row info-head">
				<div class="col-lg-6 col-md-8 col-xs-8">
					<div class="info-text">
						<h3> التسجيل في ضريبة القيمة المضافة اتصل بنا للاستشارة ..</h3>
					<p> نتحقق من أهليتك للتسجيل في ضريبة القيمة المضافة ، ونجهز المستندات ، ونتولى عملية التسجيل بأكملها. </p>
						<div class="inf-btn pro">
						<a onclick="return gtag_report_conversion('tel:+971585397170');"  href="tel:+971585397170" class="btn btn-pro btn-secondary btn-lg">اتصل الان</a>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-3"></div>
			</div>
		</div>
	</section>

</div>