@{
	ViewData["Title"] = "حول";
}

<div class="inner-pages">
<section class="headings">
		<div class="text-heading text-center">
			<div class="container">
				<h1>نبذه عنا </h1>
					<h2><a asp-action="Index" asp-controller="Home">الرئيسية </a> &nbsp;>>&nbsp; نبذه عنا </h2>
			</div>
		</div>
	</section>
    <section id="about" class="who-we-are">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12 who">
					<img src="/images/info/about-us-2.jpg" alt="about">
				</div>
				<div class="col-lg-6 col-md-12 who-1">
					<div>
						<h2 class="mb-4">مرحبا بك في <span>اكسبرتس</span></h2>
					</div>
					<div class="pftext">
                        <h3 class="mb-3" >
                              من نحن
                        </h3>
						<p>اكسبرنس  للمحاسبة والاستشارات الضرييية هي شركة استشارات وخدمات أعمال كاملة في الإمارات العربية المتحدة ، تعود جذورنا إلى عام 1999 عندما فتحنا أبوابنا في عمان الأردن.</p> 
						<p>الآن بعد أكثر من 20 عامًا ، نمت لتصبح شركة موثوقة ومبتكرة تساعد الشركات من جميع الأحجام على تنفيذ الحل المثالي الذي يجعل المؤسسة أكثر كفاءة وربحية.</p> 
                        <h3 class="mb-3" >
                          الذي نفعله
                        </h3>
                    <p>
                        نحن نقدم مجموعة واسعة من الخدمات المحاسبية ، بما في ذلك مسك الدفاتر وإعداد الضرائب والتخطيط المالي ، ويبقى فريقنا على اطلاع بأحدث التقنيات المحاسبية والقوانين الضريبية لضمان حصول عملائنا على التوجيه الأكثر دقة وشمولية . يتيح لنا نهجنا المخصص فهم الاحتياجات والأهداف المالية الفريدة لكل عميل من عملائنا ، وتصميم خدماتنا وفقًا لذلك. </p>
                    <p>
                        بالإضافة إلى خدمات المحاسبة التقليدية ، نقدم أيضًا خدمات متخصصة مثل التدقيق وإعداد البيانات المالية واستشارات الأعمال. إن فريق الخبراء لدينا مدربين تدريباً عالياً وذوي خبرة في إجراء عمليات تدقيق شاملة وفعالة ، ويمكنهم تقديم الدعم في أي عمليات تدقيق للامتثال والتشغيل أيضًا. </p>
                    <p>
                        نقدم أيضًا خدمات إعداد الضرائب والتخطيط للشركات والأفراد. يظل فريقنا على اطلاع دائم بأحدث القوانين واللوائح الضريبية للتأكد من أن عملائنا يدفعون الحد الأدنى من الضرائب المطلوبة بموجب القانون ، ويساعدون في مجموعة واسعة من الأمور المتعلقة بالضرائب ، بما في ذلك ضريبة الدخل وضريبة المبيعات و خدمات ضريبة القيمة المضافة (VAT). بدءًا من تسجيل ضريبة القيمة المضافة والامتثال والعائدات ، سيرشدك فريق الخبراء لدينا خلال العملية ويضمن الوفاء بالتزامات ضريبة القيمة المضافة. </p>
                        
                        
                        <div class="mt-4 mb-4">
                          <a href="tel:+971585397170" class="btn btn-pro btn-success btn-lg">تحدث إلى خبير  <i class="fa fa-phone" aria-hidden="true"></i> </a>
                        </div>
                  
						
                        <h4 class="mb-3" >
                           القصة بإختصار
                        </h4>
                    <p> نهدف إلى أن نكون حلاً شاملاً لجميع احتياجات المحاسبة والضرائب وضريبة القيمة المضافة ، ونسعى جاهدين لنصبح شريكًا موثوقًا به في المساعي المالية لعملائنا. </ p>
					</div>
				</div>
			</div>
		</div>
	</section>
<section class="team">
    <div class="container">
        <div class="sec-title">
            <h2><span>خبراؤنا </span></h2>
            <p> يتمتع فريقنا بأكثر من 20 عامًا من الخبرة. </p>
        </div>
        <div class="row team-all">
            <div class="team-block col-lg-3 col-md-6 col-xs-12 pb-none">
                <div class="inner-box team-details">
                    <div class="image team-head">
                        <a href="/home"><img src="/images/team/team-1.jpg" alt="othman-suleiman"></a>
                        <div class="team-hover">
                            <ul class="team-social">
                                <li><a href="/home" class="facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="/home" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="lower-box">
                        <h3><a href="/home">عثمان سليمان </a></h3>
                        <div class="designation">مدير عام</div>
                    </div>
                </div>
            </div>

            <div class="team-block col-lg-3 col-md-6 col-xs-12 pb-none">
                <div class="inner-box team-details">
                    <div class="image team-head">
                        <a href="/home"><img src="/images/team/team-2.jpg" alt="khayri-mansour"></a>
                        <div class="team-hover">
                            <ul class="team-social">
                                <li><a href="/home" class="facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="/home" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="lower-box">
                        <h3><a href="/home">خيري منصور</a></h3>
                        <div class="designation">المدير الإداري</div>
                    </div>
                </div>
            </div>

            <div class="team-block col-lg-3 col-md-6 col-xs-12 pb-none">
                <div class="inner-box team-details">
                    <div class="image team-head">
                        <a href="/home"><img src="/images/team/team-3.jpg" alt="haitham-mansour"></a>
                        <div class="team-hover">
                            <ul class="team-social">
                                <li><a href="/home" class="facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="/home" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="lower-box">
                        <h3><a href="/home">هيثم منصور</a></h3>
                        <div class="designation">مدير مالي</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
	</div>