@{
	ViewData["Title"] = "اتصل بنا";
}

@model ContactForm
<div class="inner-pages">
<section class="headings">
		<div class="text-heading text-center">
			<div class="container">
				<h1>اتصل بنا </h1>
					<h2><a asp-action="Index" asp-controller="Home">الرئيسية </a> &nbsp;>>&nbsp; اتصل بنا </h2>
			</div>
		</div>
	</section>
<section id="contact" class="contact-us inner-pages request">
		<div class="container">
			<div class="sec-title">
				<h2>ابقى على  <span> تواصل</span></h2>
				
			</div>
			<div class="contact_us_details ">
				<div class="row ">
					<div class="col-lg-4 col-md-6">
						<div class="c_details_item">
							<div class="media">
								<div class="media-left">
									<i class="fa fa-location-arrow"></i>
								</div>
								<div class="media-body">
									<p>شارع الشيخ محمد بن راشد ، بوليفارد بلازا برج 1 ، دبي ، الإمارات العربية المتحدة</p>
								</div>
							</div>

						</div>
					</div>
					<div class="col-lg-4 col-md-6 email-area mt-44">
						<div class="c_details_item">
							<div class="media">
								<div class="media-left">
									<i class="fa fa-envelope"></i>
								</div>
								<div class="media-body">									
									<a href="#">info@expertsconsult.co</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 phone-area mt-44">
						<div class="c_details_item">
							<div class="media">
								<div class="media-left">
									<i class="fa fa-phone"></i>
								</div>
								<div class="media-body">
									<a style="direction:ltr;unicode-bidi: embed;" href="tel:+ 971585397170">+ 971 585 397 170</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
            <div class="contact_us_details ">
                <div class="row">
					<div class="col-lg-4 col-md-6">
						<div class="c_details_item">
							<div class="media">
								<div class="media-left">
									<i class="fa fa-location-arrow"></i>
								</div>
								<div class="media-body">
									<p> شارع وصفي التل ، 125 ، مكتب رقم 207 ، عمان ، الأردن</p>
								</div>
							</div>

						</div>
					</div>
					<div class="col-lg-4 col-md-6 email-area mt-44">
						<div class="c_details_item">
							<div class="media">
								<div class="media-left">
									<i class="fa fa-envelope"></i>
								</div>
								<div class="media-body">									
									<a href="#">support@expertsconsult.co</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 phone-area mt-44">
						<div class="c_details_item">
							<div class="media">
								<div class="media-left">
									<i class="fa fa-phone"></i>
								</div>
								<div class="media-body">
									<a style="direction:ltr;unicode-bidi: embed;" href="#">+ 962 797 950 213</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
			<div class="col-md-6" id="free-quote">
				<h3 class="mb-4">Contact Us</h3>
				<p>Fill out the form below to recieve a free and Fill out the form below if you have any aquestion</p>
				<form class="contact-form" method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="SendEmail">
					<div id="success" class="successform">
						<p class="alert alert-success font-weight-bold" role="alert">Your message was sent successfully!</p>
					</div>
					<div id="error" class="errorform">
						<p>Something went wrong, try refreshing and submitting the form again.</p>
					</div>
					<div class="form-group">

						<input type="text" arequired="" class="form-control input-custom input-full" asp-for="Name" placeholder="الاسم الكامل" aria-required="true">
						<span class="text-danger" asp-validation-for="Name"></span>
					</div>

					<div class="form-group">
						<input type="text" class="form-control input-custom input-full" asp-for="Email" placeholder="بريد إلكتروني">
						<span class="text-danger" asp-validation-for="Email"></span>

					</div>
					<div class="form-group">
						<input type="text" class="form-control input-custom input-full" asp-for="MobileNumber" placeholder="رقم الجوال" aria-required="true">

					</div>
					<div class="form-group">
						<span class="text-danger" asp-validation-for="Message"></span>
						<textarea class="form-control textarea-custom input-full" id="comment" asp-for="Message" required="" rows="8" placeholder="الرسالة" aria-required="true"></textarea>
					</div>
					<button type="submit" id="submit-contact" class="btn btn-primary btn-lg submit-contact">إرسال</button>
				</form>
			</div>				<div class="col-md-6">
					<div class="property-location mp info">
                        <h3 class="mb-4"> موقعنا</h3>
                        <div class="divider-fade"></div>
						<div class="iframe-container">
                          <iframe  class="responsive-iframe"  src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14440.371611922463!2d55.2751323!3d25.2000893!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8582d907e7a8e8bd!2sExperts%20Accounting%20%26%20Tax%20Consultancy!5e0!3m2!1sen!2sjo!4v1664450690630!5m2!1sen!2sjo" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
					   </div>
					</div>
				</div>
			</div>
		</div>
	</section>

	@section Scripts{
		@{
			await Html.RenderPartialAsync("_ValidationScriptsPartial");
		}

	}
