@{
    ViewData["Title"] = "Home Page";
    
}
@section Scripts{

    <script src="~/dist/index.entry.js"></script>
    }
<!-- hero section -->
<section class="hero-section hero-bg-image-3 pb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="header-content text-white">
                    <div class="text-center">
                        <div class="welcom-text">

                            <h1 class="h1 display-5">
                                We Are Experts in
                                <br class="d-md-none">
                                <span class="typed "></span>
                            </h1>

                        </div>
                        <p class="pb-20 fs-4"><span class="d-block">Your Finance In Good Hands</span></p>
                        <a asp-controller="Services"asp-action="Index" class="btn btn-primary">
                            find out more  <i class="fa-solid fa-arrow-right-long"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row g-20">
            <div class="col-lg-3">
                <div class="square-menu position-relative w-100 h-100">
                    <div class="figure-block position-relative d-flex align-items-center gap-20 text-white">
                        <span>
                            <i class="fa-solid fa-percent fa-3x"></i>
                        </span>
                        <h5 class="small text-uppercase">Tax Consultancy</h5>
                    </div>
                    <div class="figcaption mw-100 w-100 pe-0 position-absolute">
                        <a asp-action="hire-a-tax-consultant-in-dubai-uae" asp-controller="services" class="btn btn-sm btn-outline-secondary">Know more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="square-menu position-relative w-100 h-100">
                    <div class="figure-block position-relative d-flex align-items-center gap-20 text-white">
                        <span>
                            <i class="fa-solid fa-hand-holding-dollar fa-3x"></i>
                        </span>
                        <h5 class="small text-uppercase">Accounting Service</h5>
                    </div>
                    <div class="figcaption mw-100 w-100 pe-0 position-absolute">
                        <a asp-action="accounting-services" asp-controller="services" class="btn btn-sm btn-outline-secondary">Know more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="square-menu position-relative w-100 h-100">
                    <div class="figure-block position-relative d-flex align-items-center gap-20 text-white">
                        <span>
                            <i class="fa-solid fa-file-signature fa-3x"></i>
                        </span>
                        <h5 class="small text-uppercase">Audit & Assurance</h5>
                    </div>
                    <div class="figcaption mw-100 w-100 pe-0 position-absolute">
                        <a asp-action="audit-and-assurance" asp-controller="services" class="btn btn-sm btn-outline-secondary">Know more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="square-menu position-relative w-100 h-100">
                    <div class="figure-block position-relative d-flex align-items-center gap-20 text-white">
                        <span>
                            <i class="fa-solid fa-chart-line fa-3x"></i>
                        </span>
                        <h5 class="small text-uppercase">Business Solutions</h5>
                    </div>
                    <div class="figcaption mw-100 w-100 pe-0 position-absolute">
                        <a asp-action="business-solutions-in-uae" asp-controller="services" class="btn btn-sm btn-outline-secondary">Know more</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-white">
            <div class="row gx-20">
                <div class="col-lg-8">
                    <div class="px-30 px-lg-5 pt-40 pb-20">
                        <div class="row gx-30">
                            <div class="col-lg-6 ">
                                <p class="text-muted fs-4 fw-light">
                                    <span class="fs-4 fw-normal text-dark text-opacity-75">
                                        Founded
                                        in
                                        2000,
                                    </span>
                                    Experts Accounting & Tax Consultancy is a financial services and consulting firm in the UAE, our roots trace back to 2000 when we opened our doors in Amman Jordan.
                                </p>
                            </div>
                            <div class="col-lg-6">
                                <p class="mb-20 text-dark text-opacity-75">We have grown into an innovative trusted firm that helps companies from all sizes to implemnt the ideal solutions that makes the organization more efficient and profitable..</p>
                                <p class="text-dark text-opacity-75">We offer a wide range of accounting services, including bookkeeping, auditing, tax preparation, ERP systems and financial planning.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="position-relative bg-primary text-white">
                        <div class="pt-4 ps-60 pb-30">
                            <i class="icon-arrows-slim-right icon-arrows-large arrow-icon-nmargin-l"></i>
                            <h5 class="small text-uppercase">Top accounting firm in  </h5>
                            <h1 class="display-1 body-font fw-bold lh-1 mb-0">Dubai</h1>
                            <p class="mb-0">3 Offices in 3 Emirates</p>
                        </div>
                        <div class="position-relative pt-4 ps-60 pb-30 invested">
                            <i class="icon-arrows-slim-right icon-arrows-large arrow-icon-nmargin-l"></i>
                            <h5 class="small text-uppercase">Statisfied Clients</h5>
                            <h1 class="display-1 body-font fw-bold lh-1 mb-0">
                                237<span class="fs-1 body-font fw-bold"></span>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                <div class="position-relative me-lg-4">
                    <img class="img-fluid w-100" src="/assets/images/bg/cta-1.jpg" alt="why choose us">
            @*        <span class="position-absolute top-50 start-100 translate-middle bg-white rounded-circle d-none d-lg-block" style="width: 120px; height: 120px;"></span>
                    <button type="button" class="btn-play" data-bs-toggle="modal" data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                        <span></span>
                    </button>*@
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                <p class="fw-medium text-uppercase text-primary mb-2">Why Choosing Experts!</p>
                <h1 class="display-5 mb-4">Few Reasons Why People Choosing <span class="text-primary">Experts</span></h1>
                <p class="mb-4">
                    We are a one-stop solution for all accounting, tax and VAT needs, and strive to become a trusted partner in our client's financial endeavors.
                </p>
                <div class="row gy-4">
                    <div class="col-12">
                        <div class="d-flex">
                            <div >
                                <i class="fa-solid fa-circle-check fs-5 text-primary"></i>
                            </div>
                            <div class="ms-4">
                                <h4>Experienced team of professionals:</h4>
                                <span>
                                    Our team of experienced professionals stays up-to-date on the latest industry developments to provide accurate and comprehensive guidance
                                    to our clients
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex">
                            <div>
                                <i class="fa-solid fa-circle-check fs-5 text-primary"></i>
                            </div>
                            <div class="ms-4">
                                <h4>Personalized Approach</h4>
                                <span>
                                    We take a personalized approach, working closely with each client to understand their unique financial needs and goals.
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex">
                            <div >
                                <i class="fa-solid fa-circle-check fs-5 text-primary fa-3x"></i>
                            </div>
                            <div class="ms-4">
                                <h4>Competitive pricing</h4>
                                <span>
                                    We offer competitive pricing for our services
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@*@section Scripts{
    <script>
        var typed = new Typed('.typed', {
            strings: ["Tax Consulting ^2000", "Accounting  ^2000", "Auditing ^4000"],
            smartBackspace: false,
            loop: true,
            showCursor: true,
            cursorChar: "|",
            typeSpeed: 50,
            backSpeed: 30,
            startDelay: 800
        });



    </script>
}
*@