@{
    ViewData["Title"] = "Home Page";
    
}

<!-- hero section -->
<section class="hero-section hero-bg-image-3 pb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="header-content text-white">
                    <div class="text-center">
                        <div class="welcom-text">

                            <h2 class="h1">
                                We Are Experts in
                                <br class="d-md-none">
                                <span class="typed "></span>
                            </h2>

                        </div>
                        <p class="pb-20 fs-4"><span class="d-block">Your Finance In Good Hands.</span></p>
                        <a asp-controller="Services"asp-action="Index" class="btn btn-primary">
                            find out more  <i class="fa-solid fa-arrow-right-long"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row g-20">
            <div class="col-lg-3">
                <div class="square-menu position-relative w-100 h-100">
                    <div class="figure-block position-relative d-flex align-items-center gap-20 text-white">
                        <span>
                            <i class="fa-solid fa-percent fa-3x"></i>
                        </span>
                        <h5 class="small text-uppercase">Tax Consultancy</h5>
                    </div>
                    <div class="figcaption mw-100 w-100 pe-0 position-absolute">
                        <a href="#" class="btn btn-sm btn-outline-secondary">Know more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="square-menu position-relative w-100 h-100">
                    <div class="figure-block position-relative d-flex align-items-center gap-20 text-white">
                        <span>
                            <i class="fa-solid fa-hand-holding-dollar fa-3x"></i>
                        </span>
                        <h5 class="small text-uppercase">Accounting Service</h5>
                    </div>
                    <div class="figcaption mw-100 w-100 pe-0 position-absolute">
                        <a href="#" class="btn btn-sm btn-outline-secondary">Know more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="square-menu position-relative w-100 h-100">
                    <div class="figure-block position-relative d-flex align-items-center gap-20 text-white">
                        <span>
                            <i class="fa-solid fa-file-signature fa-3x"></i>
                        </span>
                        <h5 class="small text-uppercase">Audit & Assurance</h5>
                    </div>
                    <div class="figcaption mw-100 w-100 pe-0 position-absolute">
                        <a href="#" class="btn btn-sm btn-outline-secondary">Know more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="square-menu position-relative w-100 h-100">
                    <div class="figure-block position-relative d-flex align-items-center gap-20 text-white">
                        <span>
                            <i class="fa-solid fa-chart-line fa-3x"></i>
                        </span>
                        <h5 class="small text-uppercase">Business Growth</h5>
                    </div>
                    <div class="figcaption mw-100 w-100 pe-0 position-absolute">
                        <a href="#" class="btn btn-sm btn-outline-secondary">Know more</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-white">
            <div class="row gx-20">
                <div class="col-lg-8">
                    <div class="px-30 px-lg-5 pt-40 pb-20">
                        <div class="row gx-30">
                            <div class="col-lg-6 ">
                                <p class="text-muted fs-4 fw-light">
                                    <span class="fs-4 fw-normal text-dark text-opacity-75">
                                        Founded
                                        in
                                        2000,
                                    </span>
                                    Experts Accounting & Tax Consultancy is a full business services and consulting firm in the UAE, our roots trace back to 2000 when we opened our doors in Amman Jordan.
                                </p>
                            </div>
                            <div class="col-lg-6">
                                <p class="mb-20 text-dark text-opacity-75">We have grown into an innovative trusted firm that helps companies from all sizes to implemnt the ideal solutions that makes the organization more efficient and profitable..</p>
                                <p class="text-dark text-opacity-75">We offer a wide range of accounting services, including bookkeeping, auditing, tax preparation, ERP systems and financial planning.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="position-relative bg-primary text-white">
                        <div class="pt-4 ps-60 pb-30">
                            <i class="icon-arrows-slim-right icon-arrows-large arrow-icon-nmargin-l"></i>
                            <h5 class="small text-uppercase">Middle-market private equity</h5>
                            <h1 class="display-1 body-font fw-bold lh-1 mb-0">ESR</h1>
                            <p class="mb-0">12 Offices in 11 Countries</p>
                        </div>
                        <div class="position-relative pt-4 ps-60 pb-30 invested">
                            <i class="icon-arrows-slim-right icon-arrows-large arrow-icon-nmargin-l"></i>
                            <h5 class="small text-uppercase">Invested</h5>
                            <h1 class="display-1 body-font fw-bold lh-1 mb-0">
                                $2.4 <span class="fs-1 body-font fw-bold">B</span>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- hero section end -->
<section class="bg-secondary">
    <div class="container">
        <div class="text-white text-center py-60">
            <p class="small text-uppercase fw-bold lh-lg letter-spacing-lg">
                We have invested $2.4 billion in 150
                transactions<span class="d-block">across 11 countries”</span>
            </p>
            <h2 class="display-5 fw-bold pb-4 custom-letter-spacing-n">
                Download Our 2016 Highlights <span class="text-primary">Review</span>
            </h2>
            <a href="#" class="btn btn-lg btn-primary py-3">
                <img src="assets/images/icon-download.png" alt="Image" class="pe-2">
                Download PDF<i class="icon-arrows-slim-right ps-2"></i>
            </a>
        </div>
    </div>
</section>

<section class="pt-60">
    <div class="container">
        <div class="pb-60 border-bottom">

        </div>
    </div>
</section>

<section class="pt-100 pb-60">
    <div class="container">
        <div class="row gy-5 gallery-image">
            <div class="col-lg-6">
                <div class="d-flex gap-4 flex-lg-nowrap flex-wrap ">
                    <div class="flex-shrink-0">
                        <div class="image-scale">
                            <a href="assets/images/eco-1.png" class="rounded-circle popup-img">
                                <img src="assets/images/eco-1.png" alt="Eco">
                            </a>
                        </div>
                    </div>
                    <div class="flex-grow-1">
                        <h4 class="fw-normal">Alexa Von Tobel</h4>
                        <p class="extra-small text-uppercase text-muted">CEO Finance Consult Manager</p>
                        <p class="small text-muted">
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad
                        </p>
                        <img src="assets/images/painting-1.png" alt="signature">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex gap-4 flex-lg-nowrap flex-wrap ">
                    <div class="flex-shrink-0">
                        <div class="image-scale">
                            <a href="assets/images/eco-2.png" class="rounded-circle popup-img">
                                <img src="assets/images/eco-2.png" alt="Eco">
                            </a>
                        </div>
                    </div>
                    <div class="flex-grow-1">
                        <h4 class="fw-normal">Alexa Von Tobel</h4>
                        <p class="extra-small text-uppercase text-muted">CEO Finance Consult Manager</p>
                        <p class="small text-muted">
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad
                        </p>
                        <img src="assets/images/painting-1.png" alt="signature">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="footer-banner bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap justify-content-lg-between justify-content-center text-center">
            <h1 class="display-5">Make A Difference With <span class="text-primary">Expert Team</span></h1>
            <div>
                <a href="contact-us.html" class="btn btn-lg btn-primary">
                    Let’s Work Together<i class="icon-arrows-slim-right ps-2"></i>
                </a>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>
        var typed = new Typed('.typed', {
            strings: ["Tax Consulting ^2000", "Accounting  ^2000", "Auditing ^4000"],
            smartBackspace: false,
            loop: true,
            showCursor: true,
            cursorChar: "|",
            typeSpeed: 50,
            backSpeed: 30,
            startDelay: 800
        });



    </script>
}
