<div class="inner-pages">
<section class="headings">
		<div class="text-heading text-center">
			<div class="container">
				<h1> تم ارسال رسالتك بنجاح!</h1>
				
			</div>
		</div>
	</section>
	<section class="notfound">
		<div class="container">
			<div class="top-headings">
				<h4 class="h3 text-center font-weight-bold">شكرا لك</h4>
				
				<p class="text-center">يرجى مراقبة صندوق الوارد الخاص بك لأول بريد إلكتروني لنا ، وسنرد في غضون 24 ساعة.</p>
			</div>
			<div class="port-info">
				<a asp-action="Index" class="btn btn-primary btn-lg">اذهب إلى الصفحة الرئيسية</a>
			</div>

			<div class="port-info">
				<p class="text-left pb-4">تجدنا على وسائل التواصل الاجتماعي</p>
				<ul class="list-inline pt-4">
                    <li class="list-inline-item pr-2"><a href="https://api.whatsapp.com/send?phone=+971585397170&amp;text=I'm%20interested%20in%20services%20you%20provide."><i class="fa fa-whatsapp fa-3x" style="color: #25d366;" aria-hidden="true"></i></a></li>
                    <li class="list-inline-item pr-2"><a href="https://www.facebook.com/ExpertsConsultCo/" target="_blank"><i class="fa fa-facebook fa-3x" style="color: #3b5998;" aria-hidden="true"></i></a></li>
                    <li class="list-inline-item pr-2"><a target="_blank" href="https://www.linkedin.com/in/experts-consult-10430b249/"><i class="fa fa-instagram fa-3x"  style="color: #ac2bac;" aria-hidden="true"></i></a></li>
                    <li class="list-inline-item pr-2" ><a target="_blank" href="https://g.page/r/CZC2g8SqYhDBEAE"><i class="fa fa-google fa-3x" style="color: #dd4b39;" aria-hidden="true"></i></a></li>
                    <li class="list-inline-item pr-2"><a target="_blank" href="https://www.linkedin.com/in/experts-consult-10430b249/"><i class="fa fa-linkedin fa-3x" style="color: #0082ca;"aria-hidden="true"></i></a></li>
                </ul>
			</div>
			
		</div>
	</section>

</div>